.login-section {
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
  position: relative;
  overflow: hidden;
}

.login-card {
  background-color: #fff;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.text-link {
  color: #1890ff;
  font-weight: 500;
  cursor: pointer;
}

.text-link:hover {
  text-decoration: underline;
}

.color {
  position: absolute;
  filter: blur(120px);
  z-index: 0;
  pointer-events: none;
}

.color-1 {
  width: 250px;
  height: 250px;
  background: #90c5db;
  top: 10%;
  left: 5%;
}

.color-2 {
  width: 250px;
  height: 250px;
  background: #a4bcc7;
  bottom: 10%;
  right: 5%;
}
